/* Definindo variáveis de cores */
:root {
    --cor-primaria: #ec3c21;
    --cor-secundaria: #f69c75;
    --cor-fundo: rgb(251, 241, 236);
    --cor-texto: rgb(74, 92, 112);
    --cor-botao: #ec3c21;
    --cor-botao-hover: rgb(181, 54, 34);
}

/* Estilos Gerais */
body {
    background-color: var(--cor-fundo);
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    display: flex;
    height: 100%;
    min-height: 100vh;
    max-width: 800px;
    flex-direction: column;
}

/* Cabeçalho */
header {
    color: var(--cor-texto);
    text-align: center;
    align-items: center;
    padding: 10px 0;
    margin: 0;
}
header h1 {
    font-size: 2rem;
    color: var(--cor-texto);
}
img#logo{
    width: auto;
    position: relative;
    height: 35px;
    z-index: 1;
    padding-right: 10px ;
}

/* Navegação */
nav ul {
    align-items: center;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav a {
    color: var(--cor-texto);
    text-decoration: none;
}
nav a:hover{
    color:black;
    text-decoration: underline;
}

/* Conteúdo Principal */
.container {
    display: flex;
    flex-direction: column;
    max-height: 200vh;
}
.container.h1 {
    color: var(--cor-texto);
}
.content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    background-size: cover;
}
.texto {
    width: 40%;
    flex-basis: 40%;
    max-width: 40%;
}
.texto h1 {
    color: var(--cor-texto);
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 25px;
}
.texto p {
    color: var(--cor-texto);
    margin-bottom: 25px;
    justify-content: left;
}
button {
    background-color: var(--cor-botao);
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: var(--cor-botao-hover);
}

/* Seções Específicas */
#sobre {
    background-color: var(--cor-fundo);
}
#servicos ul {
    list-style-type: disc;
}
#contato {
    background-color: var(--cor-fundo);
}
.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    width: 150px;
    height: 100%;
}
.photos {
    gap: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.photo-description {
    margin-top: 5px;
}
.contact-form {
    background: var(--cor-fundo);
}
label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
}
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
input[type="submit"] {
    padding: 10px 20px;
    background: var(--cor-botao);
    color: whitesmoke;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
input[type="submit"]:hover {
    background: var(--cor-botao-hover);
}

/* Estilos do Rodapé */
footer {
    margin: auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 30px;
    text-align: center;
}
.footer-top {
    background-color: var(--cor-fundo);
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%;
}
.footer-bottom {
    display: flex; 
    flex-direction: column;
    align-items: center;
}
#footer-logo {
    width: 100px;
    margin-bottom: 20px;
    display: block;
}
.btn-social {
    margin-right: 15px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.btn-social img {
    width: 30px;
    height: 30px;
}
.footer-nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-nav h5 {
    font-weight: bold;
    margin-bottom: 5px;
}
.footer-nav a {
    display: block;
    margin: 2px 0;
    text-decoration: none;
    color: black;
}
.footer-nav-section {
    display: block;
    padding-right: 50px;
    align-items: center;
}

/* Estilos de Serviços e Posts */
#services-container, #servicos-container, #posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.service-card, .post-card {
    text-align: center;
    background-color: var(--cor-fundo);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}
.service-card:hover, .post-card:hover {
    background-color: var(--cor-fundo);
}
.service-image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: fill;
    margin-bottom: 10px;
}
.service-description {
    font-size: 16px;
}
.toggle-button {
    background-color: var(--cor-botao);
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.toggle-button.contato{
    margin: 0 auto;
    text-align: center;
    width: 150px;
    height: auto;
    object-fit: fill;
}
.toggle-button:hover {
    background-color: var(--cor-botao-hover);
}
.service-card.collapsed .service-description {
    display: none;
}

/* Estilos do Carrossel */
.texto, .carrossel {
    flex: 1;
    max-width: 50%;
    padding: 20px;
}
#carrossel {
    flex: 1;
    width: 50%;
    max-width: 500px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 10px;
}
.imagem {
    flex: 0 0 auto;
    width: 100%;
    display: block; 
}
.imagem img {
    max-width: 100%;
    max-height: auto;
}
.imagem:first-child {
    display: block;
}
#carrossel .imagem {
    margin: 10px;
}
#carrossel .imagem img {
    max-width: 100%;
    height: auto;
}
/* .seta {
    font-size: 12PX;
    cursor: pointer;
}
.seta-anterior {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.seta-seguinte {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */

/* Media Queries para Telas Menores */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }
    header h1 {
        font-size: 24px;
    }
    nav ul {
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    section {
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 5px 0;
    }
    header h1 {
        font-size: 20px;
    }
}
